p {
    text-align: justify;
}


/* The following three blocks make the code blocks way more esthetic by eliminating empty margins and paddings */
.code {
    /* padding-right: 5px; Decrease this value to reduce spacing */
    margin: 0px;
    /* background-color: yellow; */
}

.wy-table-responsive {
    margin-bottom: 0px;
}
/* .rst-content table.docutils td, .rst-content table.docutils th, .rst-content table.field-list td, .rst-content table.field-list th, .wy-table td, .wy-table th { */
.rst-content table.docutils td {
    margin: 0;
    padding: 0px 0px;
}
