/* Style for the custom horizontal menu */
.custom-menu {
    display: flex;
    justify-content: center;
    background-color: #2980b9; /* Background color for the menu bar */
    padding: 10px 0;
    margin: 10px 0;
}

.custom-menu a {
    color: #fff; /* Text color */
    padding: 10px 15px;
    margin: 0px 2px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: medium;
    display: inline-block;
    background-color: #146397; /* Background color for the menu bar */

}

.custom-menu a:hover {
    background-color: #555; /* Background color on hover */
    color: #fff;
}


.custom-menu .etasl-lib {
    background: #146397;
    -webkit-box-shadow: inset 0px 0px 5px #050505;
    -moz-box-shadow: inset 0px 0px 5px #050505;
    box-shadow: inset 0px 0px 5px #050505;
    outline: none;
}
.custom-menu .etasl-ros2 {
    background: #676666; ;
    /* background: #146397; */
    -webkit-box-shadow: inset 2px 1px 5px #050505;
    -moz-box-shadow: inset 2px 1px 5px #050505;
    box-shadow: inset 2px 1px 5px #050505;
    outline: none;
}
.custom-menu .etasl-orocos {
    background: #146397;
    -webkit-box-shadow: inset 0px 0px 5px #050505;
    -moz-box-shadow: inset 0px 0px 5px #050505;
    box-shadow: inset 0px 0px 5px #050505;
    outline: none;
}