/* OVERRIDE COLOR SCHEMES */

[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #316da9;
    --md-crospi-cta-color:        #e2e2e2;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #316da9;
    --md-crospi-cta-color:       var(--md-code-bg-color);
}