/* initial state */
.reveal {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  /* visible state after scroll */
  .reveal.visible {
    opacity: 1;
    transform: none;
  }
  
  /* Optional variants */
  .reveal-left {
    transform: translateX(-25px);
  }
  
  .reveal-right {
    transform: translateX(25px);
  }
  
  .reveal.visible.reveal-left,
  .reveal.visible.reveal-right {
    transform: none;
  }
  
  /* Hide the homepage entry in the sidebar */
/* .md-nav__link--active[data-nav-id="home"] {
  display: none;
} */

/* .md-nav--lifted>.md-nav__list>.md-nav__item--active {
  display: none;
} */

/* Hide "Home" in sidebar only when it's the active link */
.md-nav--lifted > .md-nav__list > .md-nav__item--active > a[href="/"] {
  display: none;
}


